body {
    margin: 0;
    min-height: 100vh;
  }

.website {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.hero {
    background-color: #1F2937;
    display: flex;
    color: white;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.logo {
    display: flex;
}

.links {
    display: flex;
}

.content {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    gap: 50px;
    padding-bottom: 30px;
}

.box1,
.box2,
.box3 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.random-text {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-padding-top: 100px;
}


.boxes {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px ;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    height: 300px;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    height: 300px;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.quote {
    font-size: 36px;
    font-style: light-italic;
    color: #1F2937;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.popup {
    display: flex;
    background-color: #3882F6;
    border-radius: 10%;
    flex-direction: row;
    height: 200px;
    border-radius: 10%;
    margin-bottom: 30px;
}

.popup-left {
}

.popup-right {
    border: white;
    border-radius: 10%;
}

.popup-space {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}